
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- DATA TABLE --> 
<h3 class="title-5 m-b-35">Danh sách người dùng</h3>
<div class="table-data__tool">
    <div class="table-data__tool-right">
        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
            <i class="zmdi zmdi-plus"></i>add user
        </button>
    </div>
</div>
<div class="table-responsive table-responsive-data2">
    <table class="table table-data2">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Password</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                @*<th>CreateDate</th>*@
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-shadow">
                <td>Lori Lynch</td>
                <td></td>
                <td class="desc">Maile</td>
                <td></td>
                <td>
                    <span class="status--process">Processed</span>
                </td>
                <td>021315431</td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                            <i class="zmdi zmdi-mail-send"></i>
                        </button>
                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                            <i class="zmdi zmdi-edit"></i>
                        </button>
                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                            <i class="zmdi zmdi-delete"></i>
                        </button>
                        <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                            <i class="zmdi zmdi-more"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

